= image_tag @curb.photo.url(:square)
%br/
= @curb.name
%br/
= link_to 'Delete', @curb, class: "btn btn-danger pull-right btn-round curb-delete", data: { confirm: 'Delete curb?'}
= link_to 'Edit', @curb, class: "btn pull-right btn-round btn-default curb-edit"
