#side_bar
  %h2 Hello
  #alert_placeholder
  %p
    Welcome to this
    %em
      CurbCut Web App (currently in development)

    %strong Double click on a location to list a missing or broken curbcut. Add a photo(optional) 
  %p
    Please note this is still in development and testing, and the data in the app is not to be relied upon for navigation.
  %p
    You can also
    %strong click on an existing spot
    to delete or modify it
  