%h2.col-12.text-center Curb Cuts Map
#map
:javascript
  buildMap();
  // When map is loaded, get the location and convert @hash from the ruby controller to markers on the map
  google.maps.event.addListenerOnce(handler.map.getServiceObject(), 'idle', function(event) {
    getLocation();
    var markers = #{raw @hash.to_json};
    addMarkerstoMap(markers);
    });

  // Upon double click, create a new marker
  google.maps.event.addListener(handler.map.getServiceObject(), 'dblclick', function(event) {
    clearMarker(curbsNewMarker);
    geocodePoint(event.latLng, function(data){
      curbsNew(data);
    })
  });
  
 
